body {
  font-family: sans-serif;
  background-color: #f5f7fc;
}
body,
ul {
  margin: 0;
  padding: 0;
}
#triangle {
  margin: 20px auto 0 auto;
  width: 768px;
  color: red;
  padding : 10px 15px;
  text-align: center;
}
#tri {
  margin-top: 20px;
}