#fetchList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#fetchList li {
    width: 32%;
    border: 1px solid #cdcdcd;
    margin-bottom: 20px;
    padding: 15px;
}
#fetchList li h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #00695c;
    font-weight: bold;
}
#popupContent {
    position: relative;
}
#popupContent h4 {
    color: #00695c;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 10px;
}
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: red;
    border-radius: 50%;
    border: 2px solid #cdcdcd;
    text-align: center;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}