body {
    background-color: #f5f7fc;
}
#fetchList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#fetchList li {
    width: 32%;
    border: 1px solid #cdcdcd;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.15);
}
#fetchList li .btn-large {
    height: 40px !important;
    line-height: 24px !important;
    padding: 0 18px !important;
}
#fetchList li h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #00695c;
    font-weight: bold;
}
#popupContent {
    position: relative;
}
#popupContent h4 {
    color: #00695c;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 8px;
}
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: red;
    border-radius: 50%;
    border: 1px solid red;
    text-align: center;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .modal-content {
    padding: 24px 44px !important;
}
.modal .modal-content p {
    display: inline-block;
    width: 100%;
}
.modal .modal-content p strong {
    font-weight: bold !important;
    color: #000;
    width: 85px;
    display: inline-block;
    text-align: left;
}